<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Junction | About</title>
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <!-- Back to Home Button -->
    <div class="back-to-home">
        <a href="../components/homepage.html" class="back-btn">
            Back to Home
        </a>
    </div>

    <div class="logo">
       <div>
        <img src="../assets/logo.png" alt="">
       </div> 
    </div>
    
    <div class="para">
        <p>
            Welcome to <b>Job Junction</b>, your one-stop platform connecting job seekers with employers across a wide
            range of industries. Our mission is to simplify the job search process by providing an intuitive and
            user-friendly portal where both job seekers and employers can easily find the opportunities and talent they
            need.

            At Job Junction, we understand the challenges faced by both job seekers and employers in today's competitive
            market. That's why we've designed our platform to offer advanced filtering options, a streamlined
            application process, and real-time job updates to help job seekers discover roles that align with their
            skills and career goals. Employers, on the other hand, can efficiently post jobs, manage applications, and
            find the perfect candidates to fill their vacancies.

            Whether you're looking for full-time, part-time, or freelance opportunities, or if you're a company seeking
            top talent, Job Junction is here to make the process smooth, transparent, and rewarding for everyone
            involved.
        </p>
    </div>
</body>

</html>