<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Junction | Home Page</title>
    <link rel="shortcut icon" href="../assets/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="homePage.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="main">
    <div class="logo"></div>

    <div class="container">
        <a href="../components/seeker.html">
            <div class="container-2">
                <img src="../assets/seeker.png" alt="">
                <h3>I am a seeker</h3>
            </div>
        </a>
        <a href="../components/employer.html">
            <div class="emplyoer">
                <div class="container-2">
                    <img src="../assets/employer.png" alt="">
                    <h3>I am an employer</h3>
                </div>
            </div>
        </a>
    </div>
  </div>
</body>


</html>


 
 
