* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 100vw;
    height: 100vh;
    background-image: url("../assets/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.logo{
    position: absolute;
    background-image: url("../assets/logo.png");
    width: 500px;
    height: 850px;
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    display: flex;
    gap: 50px;
    align-items: center;
    cursor: pointer; 
}
.container-2{
    position: relative;
    width: 300px;
    height: 400px;
    left: 50px;
    border: 1px solid rgb(0, 26, 255);
    border-radius: 10px;
    backdrop-filter: blur(50px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px     15px rgb(91, 91, 255);
    transition: all 0.2s ease-in-out;
}
.container-2 img{
    width:250px;
    display: flex;
    margin: 0 auto;
    transition: all 0.5s ease-in-out;
}

.container-2 h3{
    all: unset;
}
.container a{
    all: unset;
    font-size: 30px;
    font-weight: 900;
}

.container-2:hover{
    transform: scale(1.05);
    box-shadow: 7px 7px 10px rgb(60, 60, 255);
}
.container-2:hover img{
    transform: scale(1.3);

}

@media (max-width:650px){
    .container{
        position: relative;
        flex-direction: column;
        top: 35vh;
        height: 10vh;
    }
    body {
        max-width: 100vw;
        height: 200vh;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
    }
    .container-2{
        width: 90vw;
    }
}

@media (max-width:272px){
    .container-2 img{
        width:200px;
        display: flex;
        margin: 0 auto;
    }
}